#parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#editor {
  height: 100vh;
  width: 80vh;
  background-color: #181a1b;
  color: white;
}

@media screen and (max-width: 450px) {
  #editor {
    width: 20vh;
  }
}

#second {
  float: right;
  margin-top: -7vh;
  margin-right: 5vh;
}
